<div class="jumbotron">
    <h1>JSON Web Token</h1>
    <p class="lead">
        API to demonstrate token-based authentication, implemented in .NET,
        <a href="/help">automatically documented</a>.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Public Access</h2>
        <p>
            The <code>api/Values</code> resource does not require any authentication or authorization.
        </p>
        <p><a class="btn btn-success" href="#" id="btnAnonymousGet">Make anonymous GET&nbsp; request</a></p>
        <p><a class="btn btn-success" href="#" id="btnAnonymousPost">Make anonymous POST request</a></p>
    </div>
    <div class="col-md-4">
        <h2>Authentication</h2>
        <p>
            The <code>api/ProtectedValues</code> resource requires a JSON Web Token using the HTTP Authorization header.
        </p>
        <p><a class="btn btn-warning" href="#" id="btnUnauthenticatedGet">Make anonymous GET request</a></p>
        <p><a class="btn btn-success" href="#" id="btnAuthenticatedGet">Make authenticated GET request</a></p>
    </div>
    <div class="col-md-4">
        <h2>Authorization</h2>
        <p>
            The <code>api/ProtectedValues</code> resource requires <code>"admin"=true</code> claim.
        </p>

        <p><a class="btn btn-warning" href="#" id="btnUnauthorizedPOST">Make unauthorized POST request</a></p>
        <p><a class="btn btn-success" href="#" id="btnAuthorizedPOST">Make admin POST request</a></p>
    </div>
</div>

@section scripts {
@Scripts.Render("~/Scripts/index.js")
}